<!DOCTYPE html>
<html>
<head>
  <title>Jokester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1 class="title">Jokester</h1>

<%= yield %>

</body>
</html>
